<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qcast.tower"
    android:versionCode="1"
    android:versionName="3.0.0">
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	
    <application
        android:name="com.qcast.tower.Program"
        android:allowBackup="true"
        android:icon="@drawable/program_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name="com.qcast.tower.view.form.LoadActivity"
            android:icon="@drawable/program_icon"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qcast.tower.view.form.MainActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.WebActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.FamilyEditActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.SelfDiagnosticActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.DiseaseListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.InquiryDoctorChatActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name="com.qcast.tower.view.form.InquiryDoctorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.InquiryDoctorDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.ExaminationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
		<activity
            android:name="com.qcast.tower.view.form.RegionActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.qcast.tower.view.form.MyInquiryDoctorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.MyWalletActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
		<activity
            android:name="com.qcast.tower.view.form.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.qcast.tower.view.form.ReserveDoctorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.HealthManageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.PrescriptionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.MyReserveHistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.MyCommentsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.BodyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.ExamSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.TopicActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.TextActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.CommentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.IdAuthenticationActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.SignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.LevelVipActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.qcast.tower.view.form.DoctorDetailActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait"></activity>
       
		<activity android:name="com.qcast.tower.view.form.SiriActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.qcast.tower.view.form.AddFriendActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.qcast.tower.view.form.AddRelativeActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.qcast.tower.view.form.AddRequestActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.qcast.tower.view.form.MyMessagesActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.qcast.tower.view.form.SuggestActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.qcast.tower.view.form.ConfigActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.qcast.tower.view.form.SelectDoctorActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.qcast.tower.view.form.UserInfoActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.qcast.tower.view.form.ArchiveActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.qcast.tower.view.form.MyZoneActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.qcast.tower.view.form.FamilyActivity" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
		<activity android:name="com.qcast.tower.view.form.PasswordActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
		<activity android:name="com.qcast.tower.view.form.PayActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="com.slfuture.pretty.general.view.form.RadioActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.slfuture.pretty.general.view.form.EnvironmentActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		
        <!-- Pretty所需注册窗口 -->
        <activity android:name="com.slfuture.pretty.im.view.form.SingleChatActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.slfuture.pretty.im.view.form.AudioActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.slfuture.pretty.im.view.form.VideoActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.slfuture.pretty.im.view.form.RingActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.slfuture.pretty.general.view.form.ImageActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.slfuture.pretty.general.view.form.BrowserActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.slfuture.pretty.general.view.form.TextEditActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:name="com.slfuture.pretty.qcode.view.form.CaptureActivity" android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden" />
		
        <!-- 设置环信应用 -->
    	<meta-data android:name="EASEMOB_APPKEY"  android:value="wehopim#wehoptest" />
    	<service android:name="com.easemob.chat.EMChatService" />
    </application>
</manifest>
